@import "styles/_variables.scss";

.prompt-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column-reverse;
	}

	.prompt {
		display: grid;
		grid-template-columns: 1fr 50px 80px;
		padding: 10px 10px;
		cursor: pointer;

		.type {
			text-align: right;
		}

		.options {
			opacity: 0;
			text-align: right;

			@media (max-width: 768px) {
				opacity: 1;
			}
		}

		&:hover,
		&.selected {
			background-color: rgba($colorGreen, 0.3);

			.options {
				opacity: 1;
			}
		}
	}

	.prompt-actions {
		position: sticky;
		top: 20px;
		padding-top: 10px;

		$actionHeight: 180px;

		.btn-create-prompt {
			border: 2px solid $colorGreen;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			text-align: center;
			height: $actionHeight;
			box-sizing: border-box;
			margin-bottom: 20px;

			i {
				margin-bottom: 10px;
				font-size: 40px;
			}

			&:hover {
				background-color: rgba($colorGreen, 0.3);
			}

			@media (max-width: 768px) {
				flex-direction: row;
				height: auto;
				padding: 10px;

				h3 {
					line-height: 1.3em;
				}
				i {
					margin: 0px 10px 0px 0px;
					font-size: 20px;
				}
			}
		}

		// .prompt-form-container {
		// 	.prompt-form {
		// 		width: 100%;
		// 		height: $actionHeight;
		// 		padding: 10px 20px;
		// 		border: 2px solid $colorGreen;
		// 		border-radius: 5px;
		// 		background-color: $colorPrimary;
		// 		display: flex;
		// 		flex-direction: column;
		// 		justify-content: center;

		// 		.form-heading {
		// 			display: flex;
		// 			justify-content: space-between;
		// 			align-items: center;
		// 			margin-bottom: 20px;
		// 		}

		// 		.form-fields {
		// 			display: grid;
		// 			grid-template-columns: repeat(2, 1fr);
		// 			column-gap: 10px;
		// 			margin-bottom: 20px;
		// 		}

		// 		.form-btns {
		// 			text-align: right;
		// 		}
		// 	}

		// 	@media (max-width: 768px) {
		// 		position: fixed;
		// 		background-color: rgba(0, 0, 0, 0.7);
		// 		top: 0;
		// 		left: 0;
		// 		width: 100vw;
		// 		height: 100vh;
		// 		display: flex;
		// 		justify-content: center;
		// 		align-items: center;

		// 		.prompt-form {
		// 			height: auto;
		// 			max-width: 80%;
		// 			padding: 20px;
		// 		}
		// 	}

		// 	@media (max-width: 560px) {
		// 		.prompt-form {
		// 			.form-fields {
		// 				grid-template-columns: 1fr;

		// 				input {
		// 					margin-bottom: 10px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }
	}
}
