@import "styles/_variables.scss";

.prompt-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;

	.prompt {
		display: grid;
		grid-template-columns: 1fr 50px 100px;
		padding: 10px 10px;
		cursor: pointer;

		&:hover {
			background-color: $colorDeepPurple;
			.options {
				button {
					&.update {
						color: $colorCyan;
					}
				}
			}
		}

		.options {
			text-align: right;

			button {
				border: none;
				background: none;
				color: white;
				margin-left: 10px;

				&:hover {
					&.delete {
						color: $colorRed;
					}
				}
			}
		}
	}

	.prompt-action {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 10px;
		margin-bottom: 10px;
	}
}
