@import 'styles/_variables.scss';

.prompt-filters {
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 20px;

	@media (max-width: 992px) {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}

	.btn,
	.select-wrapper {
		margin-left: 10px;
	}
}

.prompt-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 60px;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column-reverse;
	}

	.prompt {
		display: grid;
		grid-template-columns: 2fr 1fr 50px;
		padding: 10px 10px;
		cursor: pointer;

		.type {
			text-align: right;
		}

		.options {
			opacity: 0;
			text-align: right;

			@media (max-width: 768px) {
				opacity: 1;
			}
		}

		&:hover,
		&.selected {
			background-color: rgba($colorGreen, 0.3);

			.options {
				opacity: 1;
			}
		}
	}

	.prompt-actions {
		position: sticky;
		top: 20px;

		.btn-create-prompt {
			border: 2px solid $colorGreen;
			border-radius: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			text-align: center;
			height: 150px;
			box-sizing: border-box;
			margin-bottom: 20px;

			i {
				margin-bottom: 10px;
				font-size: 40px;
			}

			&:hover {
				background-color: rgba($colorGreen, 0.3);
			}

			@media (max-width: 768px) {
				flex-direction: row;
				height: auto;
				padding: 10px;

				h3 {
					line-height: 1.3em;
				}
				i {
					margin: 0px 10px 0px 0px;
					font-size: 20px;
				}
			}
		}
	}
}
