@import 'styles/_variables.scss';

.prompt-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-auto-rows: 1fr;
	column-gap: 10px;
	row-gap: 15px;

	@media (max-width: 552px) {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	}

	&::before {
		content: '';
		width: 0;
		padding-bottom: 100%;
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	}

	& > *:first-child {
		grid-row: 1 / 1;
		grid-column: 1 / 1;
	}

	.card {
		position: relative;
		background-color: white;
		color: $colorPrimary;
		text-align: center;
		border: 5px solid lighten($colorPrimary, 30%);
		border-radius: 10px;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		// align-items: center;
		padding: 30px 20px 20px;
		display: grid;
		align-items: center;
		grid-template-rows: 1fr 40px 30px;
		grid-template-areas: 'image' 'description' 'type';

		@include typeColors(border-color);

		.remove-card {
			position: absolute;
			top: 8px;
			right: 15px;
			font-size: 26px;
			cursor: pointer;

			&:hover {
				color: $colorRed;
			}
		}

		.image {
			grid-area: image;
			img {
				height: 185px;
			}
		}

		.title {
			grid-area: description;
			font-size: 1.5rem;
			text-transform: lowercase;
		}
		.subtitle {
			grid-area: type;
			font-size: 1rem;
			text-transform: uppercase;
			font-style: italic;
		}
	}
}
