.image-uploader {
	h4 {
		margin-bottom: 10px;
	}

	.file-input {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.file-input-wrapper {
			flex: 1;

			> * {
				vertical-align: middle;
			}
		}
	}

	.preview {
		position: relative;
		text-align: center;
		margin-top: 15px;
		background-color: rgba(0, 0, 0, 0.3);
		padding: 15px 0px;

		$previewHeight: 250px;
		.progress-wrapper {
			height: $previewHeight;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.image-wrapper {
			height: $previewHeight;

			img {
				height: 100%;
			}
		}

		button {
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			height: 40px;
			width: 40px;
			cursor: pointer;

			&:hover {
				&:after {
					content: 'Remove Image';
					position: absolute;
					top: 120%;
					left: 50%;
					transform: translateX(-50%);
					text-align: center;
				}
			}
		}
	}
}
