// Styling applicable to all pages

html,
body,
#root {
	height: 100%;
	background-color: $colorPrimary;
	color: white;
	font-family: $fontPrimary;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	* {
		box-sizing: border-box;
	}
}

.container {
	margin: 0 auto;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

input,
button {
	outline: none;

	&:hover,
	&:focus {
		outline: none;
	}
}

.btn {
	border: none;
	border-radius: 3px;
	line-height: 1.3rem;
	cursor: pointer;
	display: inline-block;

	&.btn-primary {
		background-color: white;
		color: $colorPrimary;
		padding: 5px 10px;
		min-width: 80px;
	}

	&.btn-confirm {
		background-color: $colorGreen;
		color: white;
		padding: 5px 10px;
		min-width: 80px;

		&:hover {
			background-color: darken($colorGreen, 10%);
		}
	}

	&.btn-destruct {
		background-color: $colorRed;
		color: white;
		padding: 5px 10px;
		min-width: 80px;

		&:hover {
			background-color: darken($colorRed, 10%);
		}
	}

	&.btn-in-form {
		padding: 9px 10px;
	}

	&.btn-icon {
		border: none;
		background: none;
		color: white;
		margin-left: 10px;

		&:hover {
			color: $colorRed;
		}

		i {
			cursor: pointer;
		}
	}

	&:disabled {
		background-color: $colorGrey;
		opacity: 0.8;
		pointer-events: none;
	}
}

input[type='text'] {
	border: none;
	background-color: white;
	border-radius: 3px;
	padding: 5px 10px;
	height: 38px;
}

.select-wrapper {
	background-color: #fff;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	overflow: hidden;
	height: 38px;
	vertical-align: middle;

	&:after {
		font-family: 'FontAwesome';
		content: '\f0d7';
		display: block;
		color: black;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	select {
		width: 100%;
		padding: 10px 40px 10px 10px;
		-webkit-appearance: none;
		-ms-appearance: none;
		-moz-appearance: none;
		border: none;
		appearance: none;
		background-color: transparent;
		position: relative;
		cursor: pointer;
	}
}

.file-input-wrapper {
	position: relative;

	$file-btn-width: 80px;
	$file-btn-buffer: 20px;

	label {
		position: relative;
		display: inline-block;
		width: $file-btn-width;
		z-index: 2;
	}

	.file-input-buffer {
		position: relative;
		width: $file-btn-buffer;
		height: 30px;
		display: inline-block;
		background-color: $colorPrimary;
		z-index: 2;
	}

	input[type='file'] {
		position: absolute;
		z-index: 1;
		top: 6px;
		left: $file-btn-width + $file-btn-buffer - 70px;
		font-size: 15px;
		color: rgb(153, 153, 153);
	}
}
