// Styling applicable to all pages

html,
body,
#root {
	height: 100%;
	background-color: $colorPrimary;
	color: white;
	font-family: $fontPrimary;
	font-size: 16px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;

	* {
		box-sizing: border-box;
	}
}

.container {
	margin: 0 auto;
	@media (min-width: 768px) {
		width: 750px;
	}
	@media (min-width: 992px) {
		width: 970px;
	}
	@media (min-width: 1200px) {
		width: 1170px;
	}
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

.btn {
	border: none;
	border-radius: 3px;
	line-height: 1.3rem;
	cursor: pointer;

	&.btn-primary {
		background-color: $colorGreen;
		color: white;
		padding: 5px 10px;
		min-width: 80px;

		&:hover {
			background-color: darken($colorGreen, 10%);
		}
	}

	&.btn-icon {
		border: none;
		background: none;
		color: white;
		margin-left: 10px;

		&:hover {
			color: $colorRed;
		}

		i {
			cursor: pointer;
		}
	}

	&:disabled {
		background-color: $colorGrey;
		opacity: 0.8;
	}
}

select {
	-webkit-appearance: none;
	border: none;
	border-radius: 3px;
	padding: 5px 10px;
	min-width: 100px;
}

input {
	border: none;
	background-color: white;
	border-radius: 3px;
	padding: 5px 10px;
}
