.header {
	flex: 0;
	color: white;

	.header-container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 768px) {
			padding: 0 30px;
		}
	}

	.title {
		height: 60px;
		padding-right: 20px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
